@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-desktop.svg");
    z-index:-1;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 4rem;
    color: white;
}

p{
    color:white;
}
p,
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size:1.28rem;
}

button{
    color: purple;
}
.btn{
    margin-top: 20px;
    font-size: 1.1rem;
    padding: 12px 60px;
    background-color: white;
    border-radius:20px;
    box-shadow: 4px 4px 18px 1px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    cursor:pointer;
    
}

.btn:hover{
    background: #d5fcfa;
    color:#000;
}

.container{
    max-width: 80%;
    margin:0 auto;
    padding: 0 2rem;
}

.logo {
    margin-top:30px;
}

.main-logo{
    cursor:pointer;
}
.content {
    display:flex;
    height: 70vh;
}

.content-img {
    flex:60%;
    padding-top: 10rem;
}
.content-text{
    flex:40%;
    padding-top:14rem;
}

.socials-section{
    display:flex;
    justify-content:flex-end;
}

.socials{
    display:flex;
    list-style:none;
}

.socials-item{
    display:flex;
    align-items:center;
    margin-right:20px;
}

.socials-link {
    width:2rem;
    height:2rem;
    border: 1px solid #fff;
    border-radius:50%;
    display:flex;
    margin-right:0px;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.socials-link:hover {
    background: #fff;
    color: hsl(257, 40%, 50%);
  }
  
  .socials-item:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 1050px) {
    .content{
        flex-direction:column;
        width:auto;
        height:auto;
    }
    .content-img > img {
        width: 100%;
      }
    .content-img{
        padding:0;
        margin:0;
    }

    .content-text{
        padding-top:0;
        margin-top:0;
    }

    h1{
        display:flex;
        justify-content:center;
        margin:0;
    }
    h1,p {
        font-size:1.2rem;
    }
  

    .socials-section{
        display:flex;
        justify-content:center;
        margin-top:1rem;
    }
  }